hr {
  border: none;
  border-top: 2px solid rgb(66, 83, 66);
  margin: 0;
  padding: 0;
}

.container_style{
  background-color: rgb(30, 34, 32);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  border-left: 10px;
}
